body {
  background-color: #f4f2f1;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  width: 1000px;
  padding: 10px;
  background-color: #f4f2f1;
}

.image-header {
  width: 1000px;
  height: 190px;
  text-align: center;
}

.image-header img {
  width: 1000px;
  height: 190px;
  object-fit: cover;
}

.cardn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 10px;
}

.cardn {
  width: 500px;
  height: 400px;
  background-color: #f4f2f1;
  margin-bottom: 0px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
}

.cardn img:first-child {
  height: 170px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: 0;
}

.cardn-text {
  width: 500px;
  height: 85px;
  font-size: 13px;
  padding: 5px 65px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: pre-line;
  word-break: keep-all;
}

.cardn img:nth-of-type(2) {
  height: 40px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: 0;
}

.cardn-text-prayers {
  width: 500px;
  height: 60px;
  font-size: 13px;
  padding: 5px 65px;
  box-sizing: border-box;
  overflow: hidden;
  color: #bc6c71;
  white-space: pre-line;
  word-break: keep-all;
}

.cardk {
  width: 1000px;
  height: flex;
  background-color: #f4f2f1;
  margin: 0px 0;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
  white-space: pre-line;
}

.cardk img {
  height: 100px;
  width: 1000px;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: 0;
}

.cardk-text {
  width: 1000px;
  height: flex;
  font-size: 13px;
  padding: 0px 70px;
  box-sizing: border-box;
  word-break: keep-all;

}

.cardk-wrapper {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.cardk-wrapper.hidden {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

.cardk-toggle {
  text-align: center;
  margin: 20px 0;
}

#toggle-cardk-btn {
  padding: 20px 30px;
  font-size: 20px;
  cursor: pointer;
}
