body {
  background-color: #f4f2f1;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  width: 1000px;
  padding: 10px;
  background-color: #f4f2f1;
}

.image-header {
  width: 1000px;
  height: 190px;
  text-align: center;
}

.image-header img {
  width: 1000px;
  height: 190px;
  object-fit: cover;
}

.cardn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 10px;
}

.cardn {
  width: 500px;
  height: 400px;
  background-color: #f4f2f1;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: left;
}

.cardn img:first-child {
  height: 170px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: 0;
}

.cardn-text {
  width: 500px;
  height: 85px;
  font-size: 13px;
  padding: 5px 65px;
  box-sizing: border-box;
  overflow: hidden;
}

.cardn img:nth-of-type(2) {
  height: 40px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: 0;
}

.cardn-text-prayers {
  width: 500px;
  height: 60px;
  font-size: 13px;
  padding: 5px 65px;
  box-sizing: border-box;
  overflow: hidden;
  color: #bc6c71;
}

.cardk {
  width: 1000px;
  height: 410px;
  background-color: #f4f2f1;
  margin: 20px 0;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: left;
  overflow: hidden;
}

.cardk img {
  height: 100px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: 0;
}

.cardk-text {
  width: 1000px;
  height: 150px;
  font-size: 13px;
  padding: 70px;
  box-sizing: border-box;
}
